body {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('asset/bghappy.png');
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    margin-top: 450px;
}

.buttons {
    margin-bottom: 20px;
}

.extra-buttons, .gif-button {
    margin-top: 20px;
}

button {
    font-size: 2.5em;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Permanent Marker', cursive;
    background-color: #ffdd59;
    color: #1e272e;
}

button:hover {
    background-color: #ffd32a;
    transform: scale(1.1);
}

#quoteButton {
    background-color: #ff5e57;
    color: #ffffff;
}

#quoteButton:hover {
    background-color: #ff3f34;
}

#jokesButton {
    background-color: #05c46b;
    color: #ffffff;
}

#jokesButton:hover {
    background-color: #0be881;
}

#gifButton {
    background-color: #1e90ff;
    color: #ffffff;
}

#gifButton:hover {
    background-color: #0fbcf9;
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

#message {
    font-size: 1.2em;
}

#gif {
    width: 100%;
    height: auto;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    body {
        background-image: url('asset/bgmobile.png');
    }

    .container {
        margin-top: 400px;
    }

    button {
        font-size: 1em;
        padding: 5px 10px;
        margin: 5px;
    }

    #quoteButton, #jokesButton, #gifButton {
        font-size: 1em;
        padding: 5px 10px;
        margin: 5px;
    }
}
